*.pyc
pep8.txt
coverage.xml
/static/
/freenodejobs/settings/custom.py
/storage/
.coverage
*.deb
/config/playbook.retry
/debian/files
/debian/*.log
/debian/*.debhelper
/debian/*.substvars
/debian/.debhelper/
/debian/freenodejobs/
/.env

# Sync with config/deploy
config/id_rsa
config/group_vars/all
config/roles/nginx/files/privkey.pem
