.f_generic_base {
  nav {
    .navbar-brand span {
      color: #4beb4a;
    }
  }

  .btn-primary {
    color: #fff;
    border-color: #659a49;
    background-color: #659a49;
  }

  p {
    font-size: 14px;
  }

  footer {
    padding: 30px 0;
  }

  // Workaround <https://github.com/twbs/bootstrap/issues/23454>
  div.input-group ~ .invalid-feedback {
    display: block !important;
  }
}
