.f_static_landing {
  header {
    margin-bottom: 0;

    .head {
      padding-top: 40px;
      padding-bottom: 0;

      .card-title a {
        color: black;

        .fa {
          display: block;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
