{% extends "admin/base.html" %}

{% block admin %}

<nav class="nav nav-tabs clearfix mt-3 mb-4">
  {% for x,y in by_state %}
  <a
    href="{% url "admin:view" x.name|lower %}"
    class="nav-item nav-link {% if state == x %}active{% endif %}"
  >{{ x.label }} ({{ y|intcomma }})</a>
  {% endfor %}
</nav>

<table class="table table-striped mb-4">
  <thead>
    <tr>
      <th>Company</th>
      <th>Title</th>
      <th>Type</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for job in page.object_list %}
    <tr>
      <td>
        {{ job.user.profile.name }}
      </td>
      <td>
        {{ job.title }}
      </td>
      <td>
        {{ job.job_type.label }}
      </td>
      <td>
        {% if job.state.name != "REMOVED" %}
        <a class="btn btn-primary btn-sm" href="{{ job.get_absolute_url }}">View</a>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">
        There are no jobs marked as <em>{{ state.label }}</em>.
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "includes/pagination.html" %}

{% endblock %}
