<footer>
  <div class="container">
    <div class="row link-ter">
      <div class="col-sm-8">
        <ul>
          <li>&copy; {% now "Y" %} freenode, Ltd. &nbsp;</li>
          <li>
            <a href="https://freenode.net/policies">Privacy Policy</a>
          </li>
          <li>
            <a href="{% url "static:terms-of-service" %}">Terms of Service</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 text-right">
        <ul>
          <li>
            <a href="https://www.facebook.com/freenode-366911233325305/"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://google.com/+freenode"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/freenodestaff"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
