[Unit]
Description=freenodejobs-gunicorn
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=www-data
Group=www-data
Restart=always

ExecStart=/opt/venvs/freenodejobs/bin/gunicorn --workers=4 --max-requests=250 --log-level=info --preload freenodejobs.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=true
